
body{
	margin:0;
	padding:0;
	font-family: 'Muli', sans-serif;
    cursor:default;
}

.total{
	width:100%;
	height:100%;
	float:left;
    position: fixed;	
    background-image: url('../img/background.jpg');
    background-size: 100% 100%;
}

.topo{
	width: 100%;
    float: left;
    height: 10%;
    background-color: #7171710a;
	z-index: 999;    
    background-size: 100% auto;
    background-position: center center;   
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);    
}

.conteudo{
	width: 100%;
    float: left;
    height: 80%;
}

.rodape{
	width: 100%;
    float: left;
    height: 10%;
    background-size: 100% auto;
    background-position: bottom center;   
}

#gerar-pacote{
    float: right;
    margin: 1%;
    width: 30%;
    height: 6.3% !important;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #005d94;
    font-size: 25px;
    cursor:pointer;	
    position:absolute;
}

.rodape #gerar-pacote:hover{
	transition:.5s;
	background-color:#034b75;
}
.gerar-pacote{
    background: #999;
}
#nome-pacote{
    float: left;
    margin: 1%;
    width: 28%;
    height: 47px !important;
    border: none;
    border-bottom:1px solid darkgrey;
    font-size: 20px;
    padding-left: 10px;   
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.62);
    border-radius: 4px;    
}

#nome-versao-reversao{
    float: left;
    margin: 1%;
    width: 16%;
    height: 47px !important;
    border: none;
    border-bottom:1px solid darkgrey;
    font-size: 20px;
    padding-left: 10px;  
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.62);
    border-radius: 4px;     
}

#nome-versao-banco{
    float: left;
    margin: 1%;
    width: 16%;
    height: 47px !important;
    border-bottom:1px solid darkgrey;
    border: none;
    font-size: 20px;
    padding-left: 10px;   
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.62);
    border-radius: 4px;
}

.rodape #texto{
    color: white;
    font-size: 25px;
    margin: 1.2%;
    float: left;
    width: 13%;
    height: 5%;	
}

#check{
    width: 20px;
    height: 20px;
    margin-top: 9px;
    float: right;	
    margin-left: 10px;
}

.topo #logo{
    height: 60%;
    float: left;
    margin: 10px;
}

/* Esconde o input */
input[type='file'] {
  display: none;
}

/* Aparência que terá o seletor de arquivo */
label {
    float: left;
    margin: 0.8%;
    margin-left: 3.5% !important;
    width: 30%;
    height: 70%;
    color: white;
    border-radius: 10px;
    padding: 6px;
    border: none;
    background-color: #005d94;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
}

label:hover{
	transition:1s;
	background-color:#034b75;	
}

.input-repo{
    float: left;
    margin: 0.8%;
    margin-left: 3.5% !important;
    margin: 1%;
    width: 60%;
    height: 47px !important;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    padding-left: 10px;   
    background-color:#fff;
}

.esconderUrlRepo{
    float: left;
    margin: 1%;
    font-size: 45px;
    color: white;
    cursor: pointer;
}

.esconderUrlRepo:hover{
    transition: .5s;
    color: #777777;
}

.conteudo #titulo{
    float: left;
    width: 50%;
    height: 10%;
    text-align: center;
    font-size: 30px;
    color: white;
    padding-top: 1%;
}


.conteudo .banco{
    float: left;
    width: 48%;
    height:80%;
    margin-left: 1%;
    margin-right: 1%;   
    background-color: rgba(255, 255, 255, 0.77);
    border-radius:10px; 
}

.conteudo .banco #titulo-banco{
    float: left;
    width: 50%;
    height: 5%;
    text-align: center;
    font-size: 20px;
    padding-top: 1%;    
    color: #000000ad;    
}

.conteudo .banco .subpastas{
    width: 48%;
    height: 88%;
    float: left;
    background-color: rgba(0, 0, 0, 0.18);
    margin: 1%;
    border-radius: 10px; 
    overflow-x: hidden;
}

.conteudo .item-arquivo{
    width: 90%;
    float: left;
    background-color: white;
    margin: 1px 5px 2px 5px;
    display: block;
    border-radius: 5px;  
    text-align:left;
    padding-left: 12px;
    -webkit-box-shadow: 10px 10px 41px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 41px -20px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 41px -20px rgba(0,0,0,0.75);
}
.item-arquivo span{
    font-size: 7pt;
}
.conteudo  .item-arquivo .titulo{
    width:100%;
    height:55%;
    float:left;
    text-align: center;
    font-size: 8px;
}

.conteudo  .item-arquivo .rodape-item-arquivo{
    margin-left:10px;
    float:left;
    border-top:1px solid rgba(169, 169, 169, 0.21);
}
.rodape-item-arquivo span{
    width: 80%;
}
.rodape-item-arquivo a{
    text-align: center;
}

.fa-exchange:before {
    cursor:pointer;
    color:black;
    text-decoration:none;
}

.fa-trash-o:before{
    cursor:pointer;
    color:black;
    text-decoration:none;
}

.fa-file-code-o:before{
    cursor:pointer;
    color:black;
    text-decoration:none;    
}

.link{
    text-decoration:none;   
}

.alert-mudar{
    width: 50%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.95);
    float: left;
    position: absolute;
    z-index: 9999;
    margin-left: 25%;
    margin-top: 2%;
    border-radius: 10px;
}

.alert-mudar .topo-mudar{
    width: 100%;
    float: left;
    height: 10%;
    border-bottom: 1px solid darkgrey;    
}

.alert-mudar .topo-mudar #fechar{
    float: right;
    margin: 10px;
    cursor:pointer;
}

.alert-mudar .topo-mudar #titulo{
    float: left;
    margin: 10px;
}

.alert-mudar .conteudo form{
    float: left;
    margin: 20px;
}

.alert-mudar .conteudo font{
    float: left;
    /* background-color: red; */
    margin: 2px;
    width: 50%;
}

.alert-mudar .conteudo font input{
    float: right;
}

.alert-mudar .conteudo #submit{
    float: left;
    margin: 1%;
    width: 50%;
    /* height: 60%; */
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #f68627;
    font-size: 25px;
    cursor: pointer;
    margin-top: 5%;
}

.conteudo #listar-arquivo-dba{
    width:100%;
    height:60%;
    float:left;
    overflow-x: hidden;
}

.conteudo #listar-arquivo-scripts-dba{
    width: 100%;
    height: 39%;
    float: left;
    border-top: 1px solid white;
    overflow-x: hidden;
}
.conteudo #subtitulo-dbamdata{
    width: 100%;
    height: 15%;
    color: #fff;
    float: left;
    margin-left:10px;
}

.bottom-conteudo{
    width: 3.5%;
    height: 5%;
    float: right;
    margin-top: 0.5%;
    color: #777777;
}
.bottom-conteudo:hover{
    color: #fff;
    transition:.5s;
}
.fa-trash:before {
    cursor: pointer;
}


#menu-top{
    float:right;
}

.icone-duvida-informativo{
    float:right;
    margin: 25px;
    color: #777777;
    cursor:pointer;
}
.icone-duvida-informativo:hover{
    transition:.5s;
    color: #fff;
}


/* 
-- MODAL GERAR PACOTE
---------------------------------
*/

.modal-gerar-pacote{
    display:none;
    z-index: 99999;
    position: absolute;
    background-color: #ffffffb5;
    height: 100%;
    width:100%;
    padding-top:10%;    
}

.modal-gerar-pacote #nome-pacote,
.modal-gerar-pacote #nome-versao-banco, 
.modal-gerar-pacote #nome-versao-reversao, 
.modal-gerar-pacote #gerar-pacote, 
.modal-gerar-pacote .titulo, 
.modal-gerar-pacote .observacao{
    width:50%;
    float:left;
    margin-left:25%;
    margin-right:25%;
}

.modal-gerar-pacote #gerar-pacote{
    position:relative;
    height: 47px !important;
    width: 51%;    
}

.modal-gerar-pacote .titulo{
    font-size: 20px;
    margin-top: 10px;
    color: #5d5757;    
}

.modal-gerar-pacote .observacao{
    font-size: 15px;
    margin-top: 10px;
    color: #5d5757;        
}

.fechar-modal{
    float: right;
    margin-right: 25%;
    font-size: 30px;
    cursor: pointer;    
}